<div id="election">
    <div>
        <h1>How do you want to start the search?</h1>
        <div id="election-buttons">
            <a href="/films" class="welcome-page-button">Films</a>
            <a href="/cinemas" class="welcome-page-button">Cinemas</a>
        </div>
    </div>   
</div>