<h1>FILMS</h1>
<div id="films">
    {{!-- {{#each films}}
    {{#with this}}
        <article>
            <img src="{{posterURL}}" alt="film-poster">
            <h4>{{title}} <i class="far fa-heart"></i></h4>
        </article>
    {{/with}}
    {{/each}} --}}


    {{!-- 
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !!!!!! First 12 films put like this as an example.                 !!!!!!!!!!!!!!!!!!
    !!!!!! The idea is retrieve this information from the external API !!!!!!!!!!!!!!!!!!
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    --}}

    <article>
        <img src="images/the-godfather.jpg" alt="film-poster">
        <h4>The GodFather <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/scarface.jpg" alt="film-poster">
        <h4>Scarface <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/the-shining.jpg" alt="film-poster">
        <h4>The Shining <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/the-sixth-sense.jpg" alt="film-poster">
        <h4>The Sixth Sense <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/schindlers-list.jpg" alt="film-poster">
        <h4>The Shinder's List <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/casablanca.jpg" alt="film-poster">
        <h4>Casablanca <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/the-great-dictator.jpg" alt="film-poster">
        <h4>The Great Dictator <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/la-vita-e-bella.jpg" alt="film-poster">
        <h4>La Vita È Bella <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/singing-in-the-rain.jpg" alt="film-poster">
        <h4>Singing In The Rain <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/to-kill-a-mockingbird.jpg" alt="film-poster">
        <h4>To Kill A Mockingbird <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/jaws.jpg" alt="film-poster">
        <h4>Jaws <i class="far fa-heart"></i></h4>
    </article>

    <article>
        <img src="images/north-by-nothwest.jpg" alt="film-poster">
        <h4>North By Northwest <i class="far fa-heart"></i></h4>
    </article>

</div>

<script src="src/index.js"></script>
