{{!-- get both hbs files working before putting them together!

<form action="/login" method="POST">
 <div>
 <label for="username">Username:</label>
 <input type="text" name="username">
 </div>

  <div>
 <label for="email">Email:</label>
 <input type="email" name="email">
 </div>
 
 <div>
 <label for="password">Password:</label>
 <input type="password" name="password">
 </div>

  <a href="/auth/google">Login With Google</a>
 
 {{#if errorMessage}}
 <div class="error-message">{{errorMessage}}</div>
 {{/if}}
 
 <div>
 <button>Log in</button>
 </div>
</form> --}}
